@model APIConsume.Models.Nse

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Nse</h4>
<form asp-action="Index" method="post">
</form>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Watchlist_name" class="control-label"></label>
                <input asp-for="Watchlist_name" class="form-control" />
                <span asp-validation-for="Watchlist_name" class="text-danger"></span>
            </div>
            <div class="from-group">
                @Html.LabelFor(model => model.Search_Symbol, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Search_Symbol, new SelectList(ViewBag.list), "Select your symbol")

                    @*@Html.DropDownListFor(M => M.Search_Symbol, new SelectList(Model.Search_Symbol, "Value", "Text"))*@
                    @Html.ValidationMessageFor(model => model.Search_Symbol, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <label asp-for="CreatedDate">
                @Html.TextBoxFor(x => x.Date, new
                {
                    @id = "Date",
                    @type = "date",
           @value = DateTime.Now.ToShortDateString()
                })
            </label><br />

            @*<div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
